<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the DRNK MXR team for more information:
  <a href="http://www.RaseshPatel.com">Rasesh Patel</a>,
  <a href="http://www.BasilAlomary.com">Basil Alomary</a>,
  Julia Matlby.
</p>
