<article class="marketing">
  <section class="marketing__intro">
    <div class="intro__content">
      <h1 class="intro__title"></h1>
      <p class="intro__copy"></p>
    </div>
  </section>
  <section class="marketing__elevator">
    <i class="marketing__vegetable-image"></i>
    <p class="elevator__copy"></p>
  </section>
  <section class="marketing__image"></section>
  <section class="marketing__cta">
    <div class="marketing__zip-form nl-sign-up">

    </div>
  </section>
</article>



<div class="center jumbotron greeting-container">
  <h1>Welcome to the Cucumber Zone</h1>

  <h2>
    This is the home page for the
    <a href="http://www.drnkmxr.com/">Drnk Mxr</a>
    Boilerplate Application
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  <%= link_to "Pay Money!", new_charge_path, class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag "fold-image.jpg", alt: "Our Drinks", class: "home-above-fold" %>
