<div class="home__greeting-container">
<%= image_tag "fold-image.jpg", alt: "Our Drinks", class: "home__above-fold-image" %>
</div>
<article class="home__features-list">
	<section class="home__feature">
		<h2 class="home__feature-title">Browse</h2>
		<p class="home__feature-text">
			Discover incredible drink menus stirred up by our staff of expert mixologists.
		</p>
	</section>
	<section class="home__feature">
		<h2 class="home__feature-title">Book</h2>
		<p class="home__feature-text">
			Reserve a time for a specialty mixologist to arrive at your event. We’ll take care of dropping off the perfect amount of liquor and supplies.
		</p>
	</section>
	<section class="home__feature">
		<h2 class="home__feature-title">Booze</h2>
		<p class="home__feature-text">
			Enjoy your party, we’ll keep the glasses full. And even clean them up after.
		</p>
	</section>	
</article>
<article class="home__more-info">
	<section class="home__motto">
		<h2 class="home__motto-title">
			We Love A Party
		</h2>	
		<p class="home__motto-text">
			Find exceptional bartenders to serve up cocktails at your next party. Let us know the size and duration, and we'll send over a hand-selected bartender, the perfect amount alcohol, mixers, garnishes, and ice, as well as all other cocktail necessities. Whether you're throwing a small get together or a large scale event with all your friends, we've got you covered.
		</p>
	</section>
</article>
<article class="home__signup">
	<section class="home__form">
		<form action=""></form>
	</section>
</article>