<article class="marketing">
  <section class="marketing__intro">
    <div class="intro__content">
      <h1 class="intro__title">
        Hi, we're drnkmxr
      </h1>
      <p class="intro__copy">
        We like to think
        <span class="intro__rolling-content">different</span>.
      </p>
      <div class="intro__book-btn-holder">
        <div class="intro__book-btn">Book</div>
      </div>
    </div>
    <div class="intro__continue">
      <div class="intro__continue-copy">Learn More</div>
      <i class="intro__continue-arrow" id="intro__continue-arrow">V</i>
    </div>
  </section>
  <section class="marketing__elevator">
    <div class="elevator__content">
    <i class="elevator__vegetable-image"></i>
    <p class="elevator__copy">We believe in creating delicious, organic cocktail mixers
using locally sourced fruits and vegetables whenever possible. We believe in crafting custom menus for your events, big or small. Most of all, we believe in experiences and want to be a part of yours.</p>
</div>
<div class="elevator__continue">
<i class="elevator__continue-arrow" id="elevator__continue-arrow">V</i>
</div>
  </section>
  <section class="marketing__why">
    <div class="why__content">
        <i class="why__vegetable-image"></i>
    <p class="why__copy">We take away all of the headaches of throwing a party. Plus, all of our cocktails are organic. We’ll tell you how much alchol to buy, and we’ll take care of the rest. </p>
    </div>
    <div class="why__continue">
    <i class="why__continue-arrow" id="why__continue-arrow">V</i>
  </div>
  </section>
  <section class="marketing__cta">
    <div class="cta__content">
      <div class="cta__zip-form nl-sign-up">My ZIP is _______
      </div>
      <div class="cta__book-btn-holder">
        <div class="cta__book-btn">Book</div>
      </div>
    </div>
  </section>
</article>
<footer class="footer">
  <ul class="footer__list">
    <li>Privacy Policy</li>
    <li>Terms Of Service</li>
    <li>(c) 2015 DRNK|MXR Inc, All Rights Reserved - Made in NYC. Please Drink Responsibly.</li>
  </ul>
</footer>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  <%= link_to "Pay Money!", new_charge_path, class: "btn btn-lg btn-primary" %>

<%= image_tag "fold-image.jpg", alt: "Our Drinks", class: "home-above-fold" %>
