<div class="center jumbotron greeting-container">
  <h1>Welcome to the Cucumber Zone</h1>

  <h2>
    This is the home page for the
    <a href="http://www.drnkmxr.com/">Drnk Mxr</a>
    Boilerplate Application
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  <%= link_to "Pay Money!", new_charge_path, class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag "fold-image.jpg", alt: "Our Drinks", class: "home-above-fold" %>
