<% provide(:nav_mod_class, "nav--transparent nav--bordered") %>
<% provide(:footer_mod_class, "footer--hidden") %>
<article class="event-edit">
  <section class="event-edit__content">
    <div class="event-edit__lead-in">
      <h1 class="event-edit__heading">
        How's this look?
      </h1>
      <form class="event-edit__details" action="#">Party of <input class="event-details__guest-count" id="event-details__guest-count"></input> at <input class="event-details__event-time" id="event-details__guest-count"></input> for <input class="event-details__event-length" id="event-details__guest-count"></input> hours on the <input class="event-details__event-date" id="event-details__guest-count"></input></form>
    </div>
    <div class="drink-options">
      <% @event.menu.drinks.each do |drink| %>
        <div class="drink">
          <h2 class="drink__heading"><%= drink.name %></h2>
          <img class="drink__image" src="http://www.fillmurray.com/g/200/300" alt="<%= drink.name %> image" />
          <div class="drink__tasting-notes">
            <p class="note-content"><%= drink.description %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="event-edit__price">$225</div>
    <div class="event-edit__book-btn">Book</div>
    <div class="event-edit__pricing-notice">*That's ___ drinks at only $___ per drink</div>
  </section>
</article>