<% provide(:nav_mod_class, "nav--transparent nav--bordered") %>
<% provide(:footer_mod_class, "footer--hidden") %>
<article class="checkout">
  <section class="checkout__content">
    <h1 class="checkout__heading">
      Choose 3 cocktails below to create your own custom menu
    </h1>
      <div class="drnk-options">
      <% @drinks.each do |drink| %>
        <div class="drnk">
          <h2 class="drnk__heading"><%= drink.name %></h2>
          <img class="drnk__image" src="http://www.fillmurray.com/g/150/150" alt="" />
          <div class="drnk__tasting-notes">
            <p class="note-content"><%= drink.description %></p>
          </div>
        </div>
      <% end %>
      </div>
  <div class="checkout__book-btn">Next</div>
  </section>
</article>