<% provide(:nav_mod_class, "nav--transparent nav--bordered") %>
<% provide(:footer_mod_class, "footer--hidden") %>
<article class="checkout">
  <section class="checkout__content">
    <h1 class="checkout__heading">
      How's this look?
    </h1>
    <div class="drnk-options">
      <% puts @drinks %>
      <% @drinks.each |drink| do %>
        <div class="drnk">
          <h2 class="drnk__heading">Option 1</h2>
          <img class="drnk__image" src="http://www.fillmurray.com/g/200/300" alt="" />
          <div class="drnk__tasting-notes">
            <p class="note-content">These are random tasting notes, the
drink has flavors of this thing and that thing and is made with ingredient 1 and ingredient 2.</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="checkout__book-btn">Next</div>
  </section>
</article>