@import "global";

/******************************************************************************
 Header
 ******************************************************************************/

.nav {
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 100;
  background-color: $green;
  height: 80px;
  margin: 0px;
  display: table;
  width: 100%;
  transition: all 0.2s;
  &.nav--bordered {
    border-bottom: 1px solid $white;
  }
}

.nav__list {
  list-style: none;
  padding: 0px 30px;
  margin: 0px;
  display: table-cell;
  vertical-align: middle;

  li {
    display: inline-block;
  }
}

.nav__logo-link-holder {

}

.nav__logo-link {
  font-family: $font-primary;
  color: white;
  font-size: 24px;
}

.nav__help-link, .nav__user-link, .nav__log-in-link {
  text-indent: -9999em;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $white;
  display: block;
}

.nav__help-link-holder, .nav__user-link-holder, .nav__log-in-link-holder {
  float: right;
  margin-left: 15px;
}

/******************************************************************************
 Footer
 ******************************************************************************/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/******************************************************************************
 User Sidebar
 ******************************************************************************/

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/******************************************************************************
 Forms
 ******************************************************************************/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: lightred;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/******************************************************************************
 Users Index
 ******************************************************************************/

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }
}

/******************************************************************************
 Images
 ******************************************************************************/

.home-above-fold {
  width: 100%;
}

/******************************************************************************
 Miscellaneous
 ******************************************************************************/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}
