/******************************************************************************
 Mixins
 ******************************************************************************/

@mixin box-sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
@mixin at2x($path, $ext: "jpg", $w: auto, $h: auto) {
  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: image_url("#{$at1x_path}");

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
         all and (-o-min-device-pixel-ratio: 3/2),
         all and (min--moz-device-pixel-ratio: 1.5),
         all and (min-device-pixel-ratio: 1.5) {
           background-image: image_url("#{$at2x_path}");
           background-size: $w $h;
  }
}

@mixin panel-image($img, $color) {
  background-color: $color;
  background-image: image-url($img);
  background-size: cover;
  //@include at2x("fold-1", jpg, 384px, 384px); // why image no work?
}

@mixin font-size($size, $width) {
  $goldenRatio: 1.618;
  $normalWidth: 300px;
  $normalizationRatio: 1 - (1.5 - (($width / $normalWidth) * 2));
  font-size: $size;
  line-height: $size * $goldenRatio * $normalizationRatio;

}

/******************************************************************************
 Color Pallete
 ******************************************************************************/

$green: #99C2A2;
$orange: #FFB18C;
$red: #A0596E;
$gray: #AEAEAE;
$white: #FFFFFF;
$black: #000000;

/******************************************************************************
 TypeFace
 ******************************************************************************/

$font-primary: "Avenir Next", "Avenir", "Nunito", Helvetica, Arial, sans-serif;

@mixin font-primary {
  font-family: $font-primary;
  font-weight: normal;
  color: white;
}
@mixin font-light {
  font-family: $font-primary;
  font-weight: light;
  color: white;
}

/******************************************************************************
 Font Icons
 ******************************************************************************/

@font-face {
  font-family: "Flaticon";
  src: font-url("flaticon.eot");
  src: font-url("flaticon.eot#iefix") format("embedded-opentype"),
  font-url("flaticon.woff") format("woff"),
  font-url("flaticon.ttf") format("truetype"),
  font-url("flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 40px;
  font-style: normal;
}
.flaticon-facebook51:before {
  content: "\e000";
}
.flaticon-fruit42:before  {
  content: "\e001";
}
.flaticon-instagram1:before {
  content: "\e002";
}
.flaticon-orange2:before {
  content: "\e003";
}
.flaticon-pinterest31:before {
  content: "\e004";
}
.flaticon-social123:before {
  content: "\e005";
}
.flaticon-twitter44:before {
  content: "\e006";
}
.flaticon-user7:before {
  content: "\e007";
}
.flaticon-whatsapp:before {
  content: "\e008";
}

/******************************************************************************
 Global styles
 ******************************************************************************/

.hidden {
  display: none;
}