/******************************************************************************
 Variables, Mixins and Defaults
 ******************************************************************************/

/******************************************************************************
 Mixins
 ******************************************************************************/

@mixin box-sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/******************************************************************************
 Color Pallete
 ******************************************************************************/

$green: #99C2A2;
$orange: #FFB18C;
$red: #A0596E;
$gray: #AEAEAE;
$white: #FFFFFF;

/******************************************************************************
 TypeFace
 ******************************************************************************/

$font-primary: Helvetica, Arial, sans-serif;

@mixin font-primary {
  font-family: $font-primary;
  color: white;
}

/******************************************************************************
 Universal
 ******************************************************************************/

* {
  @include box-sizing;
}

body {
  position: relative;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

a {
  text-decoration: none;
  color: black;
}