/******************************************************************************
 Drnkmxr Custom
 ******************************************************************************/





/******************************************************************************
 Color Pallete
 ******************************************************************************/

@green: #99C2A2;
@orange: FFB18C;
@red: A1586E;
@gray: AEAEAE;
