/******************************************************************************
 Home page
 ******************************************************************************/

body {
  padding-top: 0px;
}

.container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.home__greeting-container {
  width: 100%;
  margin: 0px;
}

.navbar {
  margin-bottom: 0px;
}