@import "extendables";
/******************************************************************************
 Home page styles
 ******************************************************************************/

/******************************************************************************
 Page Containers
 ******************************************************************************/

.marketing {
  // Otherwise the nav is sitting on top of the first panel
  // And that makes it effectively a look smaller than desired
  padding-top: 70px;
}

/******************************************************************************
 Panel 1
 ******************************************************************************/

.marketing__intro {
  @extend .panel;
  background-color: $green;
}
.intro__content {
  @extend .panel-content;
  text-align: left;
  padding-bottom: 40px;
}
.intro__title {
  @extend .page-heading;
}
.intro__copy {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 12px;
}
.intro__accent-word {
  font-size: 48px;
  color: $red;
  font-style: italic;
  // transition:visibility 0s linear 0.5s,opacity 0.5s linear;
  opacity: 1;
  visibility: visible;
}
.intro__accent-word--transistion {
  opacity: 0;
  visibility: hidden;
}
.intro__accent-word--hidden {
  display: none;
}
.intro__book-btn {
  @extend .btn-primary;
}
.intro__continue {
  @extend .continue;
}
.intro__continue-copy {
  color: white;
  font-size: 16px;
}
.intro__continue-arrow {
  @extend .continue-arrow;
}

/******************************************************************************
 Panel 2
 ******************************************************************************/

.marketing__elevator {
  @extend .panel;
  @include panel-image("fruitandveg-faded-40.jpg", $gray);
}
.elevator__content {
  @extend .panel-content;
}
.elevator__vegetable-image {
  @extend .edible-icon;
}
.elevator__continue {
  @extend .continue;
}
.elevator__continue-arrow {
  @extend .continue-arrow;
}

/******************************************************************************
 Panel 3
 ******************************************************************************/

.marketing__why {
  @extend .panel;
  background-color: $orange;
}
.why__content {
  @extend .panel-content;
}
.why__continue {
  @extend .continue;
}
.why__vegetable-image {
  @extend .edible-icon;
}
.why__continue-arrow {
  @extend .continue-arrow;
}

/******************************************************************************
 CTA Panel
 ******************************************************************************/

.marketing__cta {
  @extend .panel;
  @include panel-image("mint-faded-40.jpg", $gray);
}
.cta__content {
  @extend .panel-content;
}
.cta__zip-form {
  font-size: 24px;
}
.cta__book-btn-holder {
  margin-top: 20px;
}
.cta__book-btn {
  @extend .btn-primary;
  margin: 0px auto;
}
.sign-up__zip-input {
  @extend .panel__form-field;
}
.sign-up__email-input {
  @extend .panel__form-field;
  width: 280px;
}
.cta__form-fail {
  margin-top: 20px;
  // transition: margin-top 2s;
}
.cta__form-fail.hidden {
  margin-top: 0px;
}
