/******************************************************************************
 Home page styles
 ******************************************************************************/
container {
  background-color: pink;
  width: 1005;
}
.marketing {
  height: 1000px;
  width: 100%;
  background-color: pink;
}