@import "global";
/******************************************************************************
 Home page styles
 ******************************************************************************/
/* line 5, /Users/Rasesh/Sites/drnkmxr/app/assets/stylesheets/static_pages.scss */
.container {
  // background-color: rgb(153, 194, 162);
  // width: 100px;
}

/* line 9, /Users/Rasesh/Sites/drnkmxr/app/assets/stylesheets/static_pages.scss */
.marketing__intro {
  height: 600px;
  width: 100%;
  background-color: $green;
  position: relative;
  display: table;
}
.intro__content {
  color: white;
  font-family: $font-primary;
  line-height: 27px;
  //text-align: left;
  padding: 0px 100px;
  display: table-cell;
  vertical-align: middle;
}
.intro__title {
  font-size: 48px;
  font-weight: normal;
}
.intro__copy {
  font-size: 48px;
}
.intro__rolling-content {
  color: $red;
}
.intro__book-btn {
  text-align: center;
  text-transform: capitalize;
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 2px;
  width: 90px;
  font-size: 12px;
}
.intro__continue {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  width: 100%;
  height: 80px;
  z-index: 1;
}
.intro__continue-copy {
  color: white;
  font-family: $font-primary;
  font-size: 24px;
}
.intro__continue-arrow {
  display: inline-block;
  background-image: "img";
  height: 20px;
  width: 20px;
  // Remove when an actival image is there
  color: white;
  font-family: $font-primary;
  font-style: normal;
}