<footer class="footer">
  <small>
    <a href="http://www.drnkmxr.com/">Drnkmxr</a>
    Lovingly made in <a href="http://www.nytm.org/">NYC</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://drnkmxr.com/">News</a></li>
    </ul>
  </nav>
</footer>