<footer class="footer">
  <ul class="footer__list">
    <li>Privacy Policy</li>
    <li>Terms Of Service</li>
    <li>(c) 2015 DRNK|MXR Inc, All Rights Reserved - Made in NYC. Please Drink Responsibly.</li>
  </ul>
</footer>