<header class="header">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__logo-link-holder"><%= link_to "DRNK|MXR", root_path, class: "nav__logo-link" %></li>
        <li class="nav__help-link-holder"><%= link_to "Help", help_path, class: "nav__help-link" %></li>
        <% if logged_in? %>
          <li class="nav__user-link-holder"><%= link_to "Users", users_path, class: "nav__user-link" %></li>
        <% else %>
          <li class="nav__log-in-link-holder"><%= link_to "Log in", login_path, class: "nav__log-in-link" %></li>
        <% end %>
      </ul>
    </nav>
</header>